{
    "semi": false,
    "overrides": [
        {
            "files": [
                "*.tsx",
                "*.ts",
                "*.js",
                "*.jsx"
            ],
            "options": {
                "trailingComma": "es5",
                "singleQuote": false,
                "tabWidth": 2,
                "printWidth": 120
            }
        },
        {
            "files": [
                "*.html",
                "*.css",
                "*.json"
            ]
        }
    ]
    
}